/* Estilos para el cuerpo de la página */
body {
    background-color: #f0f0f0;
    /* Color de fondo */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('assets/Images/Background_index.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: hidden;

}


/* Estilo para centrar el carrusel verticalmente */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 102.5vh;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 925px;
}

/* Estilo para el encabezado */
header {
    background-color: rgba(0, 0, 0, 0.5);
    /* Cambia el color de fondo del encabezado según tus preferencias */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
    padding: 10px;

    /* Asegura que el encabezado esté en la parte superior */
}

/* Estilo para el pie de página */
footer {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
}

h1 {
    font-size: 24px;
    margin: 0;
    color: #f0f0f0;
    ;
    /* Color del texto del header */
}

p {
    font-size: 14px;
    margin: 0;
    color: #f0f0f0;
    /* Color del texto del footer */
}



/* Estilos para el carrusel */
#carousel-container {
    background-color: rgba(255, 255, 255, 0.8);
    /* Fondo semitransparente para el carrusel */
    border-radius: 10px;
    overflow: hidden;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    /* Fondo semitransparente para la leyenda */
    color: #fff;
    /* Color de texto de la leyenda */
}

/* Estilo para centrar el carrusel */
#carouselExampleDark {
    margin-top: auto;
    /* Centrar en la parte superior */
    margin-bottom: auto;
    /* Centrar en la parte inferior */
}