body {
    background-color: rgb(255, 255, 255);
    background-image: url('assets/Images/pattern.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow: auto; /* Cambiado a "auto" para permitir la barra de desplazamiento cuando sea necesario */
    text-align: center;
}


main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 5px;
}

h2 {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.card-deck {
    display: flex;
    justify-content: space-between;
    margin-top: 5px; /* Espacio entre el h2 y las tarjetas */
    margin-left: 30px;
    margin-right: 30px;
}

.card {
    width: 25%;
    margin-bottom:5px;
    margin-right: 55px;
    margin-left: 55px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden; /* Reestablecido para recortar el contenido que se extiende más allá de la tarjeta */
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    width: 150px;
    height:auto;
    margin: 10px;
}
.card-body {
    padding: 20px;
    margin-bottom: 10px;
}
.card-title {
    font-size: 16px;
    margin-bottom: 5px;
}

.card-text {
    font-size: 16px;
    margin-bottom: 20px;
}
/* Mantén la disposición horizontal en pantallas más grandes */
.card-deck {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.card:last-child {
    margin-right: 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #45a049;
}

/* Estilos generales para dispositivos móviles */
@media (max-width: 767px) {

    main {
        padding: 20px;
    }
    .card {
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 25px;
    }
    .card-deck {
        margin-top: 20 px; /* O ajusta según tus necesidades */
        flex-direction: column;
        align-items: center; /* Alinea las tarjetas al centro en el eje transversal */
    }
}